.pokemons {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: pokemons-appear 1s ease-out forwards;
  }
  
  .pokemons ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes pokemons-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 
  .actions {
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #27913e;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a1e9b3;
    border-color: #a1e9b3;
    color: white;
  }
  
  .actions .button--alt {
    color: #27913e;
  }
  
  .actions .button {
    background-color: #27913e;
    color: white;
  }